h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1FBFFF;
  text-shadow: 0px 4px 10px #1FBFFF;
}

p {
  color: #1FBFFF;
  text-shadow: 0px 4px 10px #1FBFFF;
}

body {
  /* background-color:rgb(21, 19, 34); */
  /* background: -webkit-repeating-linear-gradient(297deg, #2e004d 0%, #ff0000 6%, #08416d 25%);
  background: -o-repeating-linear-gradient(297deg, #2e004d 0%, #ff0000 6%, #08416d 25%);
  background: -moz-repeating-linear-gradient(297deg, #2e004d 0%, #ff0000 6%, #08416d 25%);
  background: repeating-linear-gradient(297deg, #2e004d 0%, #ff0000 6%, #08416d 25%); */
  background: hsla(354, 95%, 24%, 1);

background: linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#76030F", endColorstr="#121B67", GradientType=1 );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2a2d43d3;
}


header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2a2d43d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about {
  margin-top: 2rem;
  background-color: #2a2d43d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
}

.about-links {
  margin-top: 1rem;
  color: #1FBFFF;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  border: solid #1FBFFF 2px;
}

.about-links:hover {
  color: #fff;
  background-color: #1FBFFF;
}

#portfolio {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #2a2d43d3;
}

#portfolio .card {
  background-color: #2e004d;
  border: 2px solid #1FBFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
}

#portfolio .card:hover {

  -webkit-box-shadow: 0px 10px 30px 0px #21bfff;
  -moz-box-shadow: 0px 10px 30px 0px #21bfff;
  box-shadow: 0px 10px 30px 0px #21bfff;

}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid #1FBFFF;
  ;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: #21bfff 2px solid;
}

.project-stack {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  /* border-left: #21bfff 2px solid; */
}

.project-stack:last-child {
  /* border-right: #21bfff 2px solid; */
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
  /* border-top: #21bfff 2px solid; */
}

.project-link {
  margin-top: 1rem;
  color: #1FBFFF;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  border: solid #1FBFFF 2px;
}

.project-link:hover {
  color: #fff;
  background-color: #1FBFFF;
}

section {
  padding: 2rem;
  border: #2e004d 4px solid;
  margin: 5px;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2d43d3;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  margin-top: 1rem;
  color: #1FBFFF;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  border: solid #1FBFFF 2px;
}

nav a:hover {
  color: #fff;
  background-color: #1FBFFF;
}

section {
  padding: 2rem;
}

section h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
  font-size: 25px;
}

.project {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
}

.project h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project p {
  margin-bottom: 1rem;
}

#contact {
  background-color: #2a2d43d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: #2e004d 4px solid;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  color: #1FBFFF;
  text-shadow: 0px 4px 10px #1FBFFF;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  color: #1FBFFF;
  background-color: #2e004d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: 2px solid #1FBFFF;
  box-shadow: 0 2px 5px #1FBFFF;
}

input:focus {
  box-shadow: 0 10px 10px #1FBFFF
}

textarea {
  color: #1FBFFF;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px #1FBFFF;
  background-color: #2e004d;
}

textarea:focus {
  box-shadow: 0 10px 10px #1FBFFF
}
.res{
border: none;
}
button {
  background-color: #2e004d;
  margin-top: 1rem;
  color: #1FBFFF;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  border: solid #1FBFFF 2px;
}


button:hover{
  background-color: #1FBFFF;
  color: #fff;
  border: 2px solid #1e90ff;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
}